# Test: 128x64 panel as 1/16 scan (led_rows=32)
udp_port=4210
hall_gpio_pin=3
hall_bias=none
hall_edge=falling
led_rows=32
led_cols=128
led_parallel=1
led_chain_length=1
led_brightness=50
led_hardware_mapping=regular
led_gpio_slowdown=2
slice_count=120
